<div class="container">
	<mat-card>
		<mat-card-title>
		Submit
		</mat-card-title>
		<mat-card-subtitle>
			<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
				<mat-list>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Title</mat-label>
							<input matInput placeholder="Title" id="title" type="text" formControlName="text">
						</mat-form-field>
					</mat-list-item>
					<mat-list-item>
						<mat-form-field>
							<mat-label>URL</mat-label>
							<input matInput placeholder="URL" id="url" type="url" formControlName="text">
						</mat-form-field>
					</mat-list-item>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Text</mat-label>
							<input matInput placeholder="Text" id="text" type="text" formControlName="text">
						</mat-form-field>
					</mat-list-item>
				</mat-list>

				<button mat-raised-button color="Submit">Submit</button>
			</form>
		</mat-card-subtitle>
	</mat-card>

</div>