mat-card-title {
	margin: 10pt;
}

button {
	margin: 10pt;
}

mat-form-field {
	width: 100%;
}

.container {
	margin-top: 64px;

	> * + * {
		display: block;
		margin-top: 1vh;
	}
}

@media(max-width: 599px) {

	.container {
		margin-top: 56px;
	}
}
