<div class="container">
	<mat-card>
		<mat-card-title>
			Submit
		</mat-card-title>
		<mat-card-subtitle>
			<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">

				<mat-form-field>
					<mat-label>Title</mat-label>
					<input matInput placeholder="Title" id="title" type="text" formControlName="title" >
					<mat-error *ngIf="submitForm.hasError('error')"> Title is required </mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>URL</mat-label>
					<input matInput placeholder="URL" name="url" id="url" formControlName="url">
					<mat-error *ngIf="submitForm.controls.url.errors?.pattern"> Enter a valid url </mat-error>
					<mat-error *ngIf="submitForm.errors?.missing"> Enter either url or text or both </mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Text</mat-label>
					<textarea matInput placeholder="Text" id="text" type="text" formControlName="text"></textarea>
					<mat-error *ngIf="submitForm.hasError('error')"> Enter either url or text or both </mat-error>
				</mat-form-field>

				<button mat-raised-button color="Submit">Submit</button>

			</form>
		</mat-card-subtitle>
	</mat-card>

</div>
