mat-card {
	padding-top: 25pt;
}

mat-card-title {
	margin: 20pt;
}

button {
	margin: 10pt;
}

mat-form-field {
	width: 90%;
	margin: 10pt;
}

form {
	margin-left: 10pt;
	margin-right: 10pt;
}

.container {
	margin-top: 64px;

	> * + * {
		display: block;
		margin-top: 1vh;
	}
}

@media(max-width: 599px) {

	.container {
		margin-top: 56px;
	}
}
