<div class="container">

	<!-- Item -->
	<mat-card class="item" *ngIf="getComment && getFavouriteComments">

		<!-- Title  -->
		<mat-card-title>
			<!-- Mirar si l'usuari actual ha votat el comentari -->
			<span class="large-points" *ngIf="isFavourite(item?.id)">
				<button mat-icon-button color="primary" (click)="unvote(item?.id)"> <mat-icon>favorite</mat-icon> </button>
			</span>
			<span class="large-points" *ngIf="!isFavourite(item?.id)">
				<button mat-icon-button color="primary" (click)="vote(item?.id)"> <mat-icon>favorite_border</mat-icon> </button>
			</span>
			{{ item?.text }}
		</mat-card-title>

		<!-- Subtitle with meta data -->
		<mat-card-subtitle>

			<!-- User -->
			<span *ngIf="item?.author">
				By <a [routerLink]="['/user', item?.author]" title="Posted by {{ item?.author }}">{{ item?.author }}</a>
			</span> |

			<!-- Contribution -->
			<span *ngIf="item?.contributionTitle">
				On <a [routerLink]="['/item', item?.contributionId]" >{{ item?.contributionTitle }}</a>
			</span> |

			<!-- Points -->
			<span>
				{{ item?.votes | i18nPlural: pointsMapping }}
			</span> |

			<!-- Time -->
			<span>
				Posted on {{ item?.date | dateFormatPipe }}
			</span>

		</mat-card-subtitle>


	</mat-card>

	<!-- Reply form -->
	<mat-card class="comments">
		<form [formGroup]="replyForm" (ngSubmit)="onSubmit(item?.id)">
			<h2>Your reply</h2>
			<mat-form-field>
				<textarea matInput id="text" type="text" formControlName="text"></textarea>
			</mat-form-field>
			<button mat-raised-button color="Submit">Reply</button>
		</form>
	</mat-card>

	<!-- Si Comments -->
	<mat-card *ngIf="item?.replies" class="comments">
		<h2>{{ item?.replies?.length | i18nPlural: commentsMapping }}</h2>
		<app-comment
			*ngFor="let comment of item?.replies"
			[comment]="comment" [favouriteItems]="favouriteItems">
		</app-comment>
	</mat-card>

	<!-- No Comments -->
	<mat-card *ngIf="!item?.replies" class="comments">
		<h2>0 comments</h2>
	</mat-card>

</div>
