<div class="container">

  <!-- Item -->
  <mat-card class="item">

    <!-- Title with url -->
    <mat-card-title *ngIf="item?.url">
      <a [href]="item?.url" target="_blank" rel="noopener">{{ item?.title }}</a> ({{ item?.url }})
    </mat-card-title>

    <!-- Title without url -->
    <mat-card-title *ngIf="!item?.url">
      {{ item?.title }}
    </mat-card-title>

    <!-- Subtitle with meta data -->
    <mat-card-subtitle>

      <!-- User -->
      <span *ngIf="item?.author">
        By <a [routerLink]="['/user', item?.author]" title="Posted by {{ item?.author }}">{{ item?.author }}</a>
      </span> |

      <!-- Points -->
      <span *ngIf="item?.points">
        {{ item?.points | i18nPlural: pointsMapping }}
      </span> |

      <!-- Time -->
      <span title="Posted on {{ item?.date | date: dateFormat }}">
        {{ item?.date }}
      </span>

    </mat-card-subtitle>

    <!-- Content -->
    <div *ngIf="item?.text" [innerHTML]="item?.text" class="text"></div>

  </mat-card>

  <!-- Comments -->
  <mat-card class="comments">
    <h2>{{ item?.comments.length | i18nPlural: commentsMapping }}</h2>
    <app-comment
      *ngFor="let comment of item?.comments"
      [comment]="comment">
    </app-comment>
  </mat-card>

</div>
